#!/bin/bash

function wait_for_sshd() {

    started=false

    echo "Running ${server_name} liveness detection on service ssh"

    for i in $(seq 1 120)
    do
        service ssh status
        exit_code=$?
        echo "service ssh status"
        if [ ${exit_code} -eq 0 ] ; then
            started=true
            break
        else
            echo "sshd has not started. waiting..."
            sleep 1
        fi
    done
    if [ ${started} = false ]; then
        echo "sshd did not start after 120 seconds"
        exit 1
    fi
}

wait_for_sshd

sudo sed -i 's|[#]*PasswordAuthentication no|PasswordAuthentication yes|g' /etc/ssh/sshd_config
echo -e "{{ password }}\n{{ password }}" | (sudo passwd ubuntu)
sudo service ssh restart