default:

  port: 22
  auth:
    username: ubuntu
    keyfile: keys/agent_key.pem

hosts:

  - host: {{ ip_pool_host_1 }}
    public_address: {{ public_address_pool_host_1 }}

  - host: {{ ip_pool_host_2 }}
    public_address: {{ public_address_pool_host_2 }}
